.Kikyo {
    color: #6a4c9c;
    font-size: 1em;
    text-shadow: 3px 3px 6px #8F77B5;
}

body {
    background-color: #f6efe4;
}

.blank {
    margin: 10pt;
}

.wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.dashedborder {
    border-width: 3px;
    border-style: dashed;
    border-color: #268785;
    box-shadow: 3px 3px 20px;
    border-radius: 15px
}

.grooveborder {
    border-width: 3px;
    border-style: groove;
    border-color: #0d5661;
}

.backgroundimagine {
    border-width: 3px;
    border-style: dashed;
    border-color: #268785;
    box-shadow: 3px 3px 20px;
    border-radius: 15px;
    background-image: url(boxbackground.jpg);
    background-clip: border-box;
}

.div1 {
    width: 200px;
    height: 200px;
    background-color: #d1ecff;
    border: 3px dashed #000000;
    padding: 5px;
}

.div2 {
    width: 100px;
    height: 100px;
    background-color: #ffffff;
    border: 3px ridge #000000;
    margin: 10px;
    padding: 5px;
}

.div3 {
    width: 100px;
    height: 100px;
    background-color: #ffffff;
    border: 3px ridge #000000;
    margin: 10px;
    padding: 5px;
}

/*
    background-image: url(boxbackground.jpg);
    background-clip: border-box;
*/