.Kikyo {
    color: #6a4c9c;
    font-size: 1em;
    text-shadow: 3px 3px 6px #8F77B5;
}

body {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: #f6efe4;
    min-width: 150px;
    background-image: url(background.jpg);
    width: 100%;
    height: 100%;;
}

#title {
    font-size: 35px;
}

#main_box {
    width: 250px;
    padding: 10px;
    margin-top: 50px;
    font-size: 14pt;
    background-color: #ffffff70;
    border-bottom-style: none;
    border-radius: 30px;
    margin: 10px;
    padding: 30px;
    text-align: center;
}

#result {
    border-style: none;
    border-color: #268785;
    box-shadow: 3px 3px 20px;
    border-radius: 20px;
    background-clip: border-box;
    font-size: 1.3em;
    background-color: #ffffffa0;
    padding: 20px;
}

input {
    background-color: #ffffff70;
    border-bottom-style: dashed;
    border-radius: 30px;
    width: 50px;
    margin: 10px;
    padding: 3px;
    text-align: center;
    font-size: 1.2em;
}

button {
    background-color: #ffffff70;
    border-bottom-style: dashed;
    border-radius: 30px;
    width: 40px;
    margin: 10px;
    padding: 3px;
    font-size: 1.2em;
}

#ft{
    color: #4c8dae;
    text-align: center;
    margin-top: 150px;
}
a{
    color:#4c8dae;
}